{% extends 'base.html'%}

{% block content %}
<h2>{{ title }}</h2>

{% for el in ProductComment %}
  <div class="card">
    {% if el.checkbox == True %}
    <h3>{{el.user_name}}</h3>
    <p>{{el.feedback}}</p>
    <hr class="hr-line">
    {% endif %}
  </div>
{% endfor %}

<p>Подорожала гречка? Золотыми стали яйца? Напиши о том, что тебя волнует!</p>

<form action="{% url 'thanks_page' %}" method="POST">
    {% csrf_token %}
    <select name="product">
        {% for p in products %}
            <option value="{{p.id}}">{{p.name}}</option>
        {% endfor %}
    </select>
    <label for="user_name"></label>
    <input name="user_name" id="user_name" required placeholder="Ваше имя">
    <label for="email"></label>
    <input name="email" id="email" required placeholder="e-mail">
    <label for="feedback"></label>
    <input name="feedback" id="feedback" required placeholder="Комментарий">
    <button type="submit">Отправить</button>
</form>

{% endblock %}